<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        
        <stats number1="13" comment1="ISU" number2="60" comment2="Customers" type="users" title="Customer" colour="customer"></stats>
		<stats number1="38%" comment1="Growth(YoY)" number2="79%" comment2="Utilization" type="user-plus" title="People" colour="people"></stats>
		<stats number1="90%" comment1="Agile(E0 level)" number2="48%" comment2="E1 & E2 level" type="cogs" title="Competency" colour="competency"></stats>
        <stats number1="12" comment1="DU Tagged Projects" number2="91%" comment2="CSI" type="line-chart" title="Delivery Excellence" colour="delivery-excellence"></stats>
		<stats number1="8" comment1="Accounts" number2="90%" comment2="Growth(YoY)" type="lightbulb-o" title="Strategic Account" colour="strategic-account"></stats>

    </div>
    
    <!-- /.panel -->
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
                </div>
                <!-- /.panel-heading -->
                <timeline></timeline>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Notifications Panel
                </div>
                <!-- /.panel-heading -->
                <notifications></notifications> 
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->

            <chat></chat>
             <!-- /.panel .chat-panel -->
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>
